---
import Layout from "../../layouts/Layout.astro";
import { getLaunchBy } from "../../servises/spacex"

export const prerender = false

const { id } = Astro.params

let launch
if(id){
    launch = await getLaunchBy({id})
}

---
<Layout title={`Lanzamiento ${id}`}>
    <article class="flex flex-col gap-y-5 text-white">
        <img class="w-52 h-auto" src={launch?.links.patch.small} alt={launch?.name} />
        <h2 class="text-4xl font-bold">Launch #{launch?.flight_number}</h2>
        <p class="text-lg">{launch?.details}</p>
    </article>
</Layout>