---
import CardLaunch from "./CardLaunch.astro";
import { getLatestLaunches } from "../servises/spacex"

const launches = await getLatestLaunches()
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 justify-items-center">
    {
    launches.map(
        (launch) => (
            <CardLaunch
            id= {launch.id}
            img= {launch.links.patch.small} 
            success= {launch.success} 
            flightNumber= {launch.flight_number} 
            details= {launch.details} 
            />
        ))
    }
</div>